* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #171717;
}

h1 {
    text-align: center;
    margin: 5rem 0;
    color: #fff;
    font-size: 4rem;
}

.container {
    margin: 0 2rem;
    /* Usando Flex */
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap; */
    /* Usando grid */
    display: grid;
    grid-auto-rows: auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
}

/* Tarjetas */
.tarjeta {
    background-color: aliceblue;
    width: 20rem;
    grid-column: span 1;
    border-radius: 1rem;
}

.tarjeta .img-tarjeta {
    height: 30rem;
}

.tarjeta .img-tarjeta img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.nombre-tarjeta {
    font-weight: bold;
    font-size: 3rem;
}

.contenido-tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.contenido-tarjeta button {
    background-color: #171717;
    color: #fff;
    padding: .5rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: .3s;
}

.contenido-tarjeta button:hover {
    background-color: #fff;
    color: #171717;
}